ETH_PK=0469abbe263700f44b2c28e3c74d8800d22da73a3f87cbd936c1af6dd8aecdd1
MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjNmMWYzMDcwLThiZGMtNDY1OS04ZGY4LTE0NWQ5NjVhZmE5MCIsIm9yZ0lkIjoiMzEwNjA1IiwidXNlcklkIjoiMzE5MzAwIiwidHlwZUlkIjoiYjVhM2ZhMGMtOTJhMC00NjVhLWJjYmItM2RmMjk5ZTJhMGQ4IiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE2ODYzNDMzNTQsImV4cCI6NDg0MjEwMzM1NH0.byOl56eeeDVXK52jHaeAtMKQMHLCRhJtfx-pgGp6_jw