@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/@near-wallet-selector/modal-ui/styles.css";

body {
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}

.border {
  @apply border-2 border-black dark:border-white;
}

.internal-link {
  @apply hover:underline dark:decoration-white px-4;
}
